header {
  background-color: #354F52;
  display: flex;
  width: 100%;
}

header ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

header li {
  float: left;
}

header a {
  color: #CAD2C5;
  display: block;
  padding: 16px;
  text-align: center;
  text-decoration: none;
}

@media only screen and (min-width: 510px) {
  header a {
    padding: 24px;
  }
}
